/*
	_content.css
*/
.icm{
	vertical-align: middle;
}
.icon{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.img-icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}



small{
	font-size: 85%;
}

.hr-style-1{
	height: 2px;
	width: 100%;
	margin-top: 30px;
	position: relative;
	margin-bottom: 30px;
	background-color: $color-1;
	&:before{
		@extend .clafclear;
		width: 40%;
		top: 50%;
		background-color: $color-1;
		height: 6px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.fa-star{
	color: #cfcfcf;
	&.fill{
		color: $color-1;
	}
}
.fa-star-o{
	color: #cfcfcf;
	&.fill, &:hover{
		color: $color-1;
	}
}
.fa-paper-plane{
	font-size: 13px;
}
.fa-facebook{
	font-size: 14px;	
}
.fa-vk{
	font-size: 16px;
	padding-bottom: 2px;
}
.p-v-md{
	@media (min-width: 991px){
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.entry-header{
	p{
		line-height: 170%;
	}
	@media (min-width: 992px) {
		h1{
			position: relative;
		}
	}
}
.h1-style{
	h1{
		&:before{
			@extend .clafclear;
			width: 57px;
			height: 62px;
			background-repeat: no-repeat;
			background-position: left center;
			background-size: contain;
			top: -20px;
			left: 0;
			background-image: url('../img/other/char-border.png');
		}
	}
	@media (max-width: 991px) {
		h1{
			&:before{
				display: none;
			}
		}
	}
}
.bg-shadow{
	pointer-events: none;
}


figcaption{
	font-weight: 600;
	margin-top: 10px;
	font-size: em(14);
	line-height: 135%;
	margin-bottom: 10px;
	text-transform: uppercase;
}




//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
}





.bnr-carousel{
	$slider-height: 855px;
	background-image: url('../img/bg/bg-slider.jpg');
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-position: center center;
	figure{
		overflow: hidden;
		height: $slider-height;
		transition: all 1.8s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
			backface-visibility: hidden;
	    background-size: cover;
	    transform: scale(1.2);
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			&:before{
				//background-position: 0;
			}
			.img{
				filter: blur(0);
				transform: scale(1);
			}
		}
	}
	figure{
		h1, p, img, .btn-def, .btn-opacity{
			opacity: 0;
			transition: 1s ease;
		}
	}
	.container{
		position: relative;
		height: 100%;
	}
	.desc-content{
		overflow: hidden;
	}
	.bnr-title{
		position: relative;
		padding-left: 5px;
		h1{
			font-size: em(62);
		}
		p{
			font-size: em(18);
		}
		&:before{
			@extend .clafclear;
			width: 5px;
			height: 100%;
			left: 0;
			background: $gradient-1;
		}
		.bnr-title-wrapper{
			overflow: hidden;
			position: relative;
			padding: 20px 15px;
		}
	}
	.bnr-cnt{
		width: 165px;
		.bnr-cnt-wrapper{
			overflow: hidden;
			position: relative;
		}
		h1{
			font-size: 160px;
			color: $color-1;
		}
	}
	.img-ellipse{
		width: 255px;
		height: 255px;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('../img/slider/slider-ellipse-1.png');
		right: 75px;
		top: 175px;
	}
	.product-img{
		position: absolute;
		right: 130px;
		bottom: 50px;
	}
	.product-details{
		position: absolute;
		bottom: 0;
	}
	.product-detail{
		bottom: 350px;
		right: 75px;
		position: absolute;
		white-space: nowrap;
		&:before{
			@extend .clafclear;
			background-position: center;
			background-repeat: no-repeat;
			width: 139px;
			height: 44px;
			top: 50%;
			right: -10px;
			transform: translate(100%, -2px);
			background-image: url('../img/slider/detail-dot-1.png');
			
		}
		&:nth-child(1){
			&:before{
				
			}
		}
		&:nth-child(2){
			bottom: 250px;
			left: 300px;
			&:before{
				right: auto;
				left: -10px;
				transform: translate(-100%, -2px);
				background-image: url('../img/slider/detail-dot-2.png');
			}
		}
		&:nth-child(3){
			bottom: 60px;
			right: 0;
		}


	}
	.is-selected{
		h1, p, .btn-def, .btn-opacity, img, .img-product{
			transform: scale(1);
			//text-shadow: 0px 0px 0px white;
			opacity: 1;
		}
	}
	.flickity-slider{
		transform: inherit !important;
	}
	.container-arrows{
    @extend .container;
    bottom: 0;
    right: 0;
    display: flex;
    z-index: 1;
    filter: drop-shadow(0 0 3px rgba(black, .2));
    padding-bottom: 15px;
    margin-bottom: 30px;
    justify-content: flex-end;
    transition: all 0.3s ease;
    .flickity-prev-next-button{
    	display: inline-block;
    	position: relative;
    	width: 40px;
    	height: 40px;
    	background-color: white;
    	border-radius: 0;
    	left: auto;
    	border: none !important;
    	right: auto;
    	&:nth-child(1){
    		top: -40px;
    	}
    	svg{
    		transform: scale(1);
    	}
    	.arrow{
    		fill: $color-1;
    	}
    	&:hover{
    		background: $gradient-1;
    		box-shadow:  2px 2px 6px -1px $color-1;
    		.arrow{
    			fill: white;
    		}
    	}
    }
    @media (max-width: 991px) {
    	justify-content: center;
    }
	}
	.carousel-content{
		position: relative;
		.align-i-center{
			height: $slider-height;
		}
		
	}
	.bg-shadow{
		display: none;
		pointer-events: none;
		background-color: rgba(black, 0.5);
		//background: linear-gradient(to bottom, transparent, $color-2);
		@media (max-width: 991px) {
			background-color: rgba(black, 0.6);
		}
	}


	//Навигация
	.flickity-page-dots, .flickity-dots-1 .flickity-page-dots{
		//@extend .container;
		//@extend .trans-h-center;
		//left: auto !important;
		width: 10px;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		display: flex;
		align-items: center;
		padding: 0 15px;
		margin-bottom: 0 !important;
		text-align: right;
		pointer-events: none;
		display: flex;
		align-items: center;
		flex-direction: column;
		right: 100px;
		li{
			display: block;
			width: 30px;
			font-family: $font-family-2;
			height: 20px;
			counter-increment: carousel-cell;
			border-radius: 0;
			background-color: transparent !important;
			border: none;
			border-right: 1px solid white;
			&:before{
    		display: block;
    		width: counter(carousel-cell)px;
    		margin: 0 auto;
    		line-height: 100%;
    		content: '0' counter(carousel-cell);
    		text-align: center;
    		font-size: 14px;
    		font-weight: 600;
    		color: white;
			}
		}
		*{
			pointer-events: auto;
		}
		li{
			pointer-events: auto;
			background-color: white;
			border-color: white;
			opacity: 0.5;
			margin-top:  0;
			margin-bottom: 0;
    	&.is-selected{
    		opacity: 1;
    		border-width: 3px ;
    		font-size: 20px;
    	}
		}
	}
	@media (min-width: 992px) {
		
	}
	@media (max-width: 991px) {
		display: none;
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
		figure{
			height: 120px;
		}
		.img{
			background-size: contain !important;
		}
		.flickity-page-dots{
			top: auto;
			height: auto;
			text-align: center;
			li{
				width: 15px;
				height: 15px;
				margin: 0 12px 0 12px;
				display: inline-block;
				border: 1px solid white;
				background-color: transparent;
				&.is-selected{
					border: none;
				}
			}
		}
		.container-arrows{
			width: 100%;
		}
	}


}
.bnr-footer{
	//@extend .trans-h-center;
	left: 50%;
	z-index: 1;
	color: white;
	transform: translateX(-50%);
	position: absolute;
	bottom: 0;
	.wrapper{
		padding: 15px 15px 30px 15px;	
	}
	@media (max-width: 991px) {
		.socicons{
			display: none;
		}
	}
}


//content
